body{
	user-select: none;
/*	background-color: #f8f9fa; */
   background-color: #fff;
   font-family: 'Didot', serif;
}

.my-soul-regular {
  font-family: "My Soul", cursive;
  font-weight: 400;
  font-style: normal;
  text-transform: capitalize;
}
.my-soul-bold {
  font-family: "My Soul", cursive;
  font-weight: 700;
  font-style: normal;
}

.latest-products{
   text-transform: uppercase;
   font-weight: 600;
   font-size: 1.5rem;
   color: #000;
   text-align: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
   font-family: 'Montserrat', sans-serif;
}

/*.headings{
	text-transform: capitalize;
}*/

/* phones */
@media only screen and
(max-width: 600px){
   #tech_support{
    width:60px; 
    height:60px; 
    position:fixed; 
    bottom:17px; 
    left:60%;
 /*   transform: translateX(-50%);
    -webkit-animation: mySupport 10s linear 1;*/
 }
}

@media only screen and
(max-width: 600px){
   #tech_support_i{
    width:160px; 
    height:80px; 
    position:fixed; 
    bottom:80px; 
    left:55%;
 /*   transform: translateX(-50%);
    -webkit-animation: mySupport 10s linear 1;*/
  }
}

/* Desktop */
@media only screen and
(min-width: 1200px){
   #tech_support{
    width:70px; 
    height:70px; 
    position:fixed; 
    bottom:17px; 
    left:81%;
 /*   transform: translateX(-50%);
    -webkit-animation: mySupport 10s linear 1;*/
 }
}

@media only screen and
(min-width: 1200px){
   #tech_support_i{
    width:200px; 
    height:70px; 
    position:fixed; 
    bottom:100px; 
    left:81%;
 /*   transform: translateX(-50%);
    -webkit-animation: mySupport 10s linear 1;*/
  }
}
